/*CSS STYLES*/

body {
    background-color: #daa520; /*GoldenRod, 49%*/
    /*font-family: 'Shadows Into Light', cursive; /*GOOGLE Font*/
    box-sizing:border-box;
}

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* CSS for 'Index.html' */
.home h1 {
    text-align: center;
    color: #333333; /* Grey20, 20% */
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    padding-top: 10px;
}

.home h2 {
    text-align: center;
    color: #333333; /* Grey20, 20% */
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

.home img {
  display: block; 
}


/* CSS for 'About.html' */
.parag {
  font-family: 'Shadows Into Light', cursive;
  padding: 0px 25px;
  text-align: justify;
  font-size: 20px;
  color: #333333; /* Grey20, 20% */
}

.box {
  float: left;
  width: 35%;
  padding: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* CSS 'round' BUTTON display for 'About.html' */
#corners {
  border-radius: 25px;
  background-color: #f5f5f5; /* WhiteSmoke, 96% */
  background-position: left top;
  background-repeat: repeat;
}

/* CSS for 'Contact.html' */


form {
    font-family: 'Raleway' sans-serif;
    font-size: 17px;
    font-style: oblique; 
    margin: 0 auto; 
    width:350px;
}

img {
    border: 3px  solid #1e90ff; /* DodgerBlue, 56% */
    box-sizing: border-box;
    margin: 0 auto; 
    max-width: 100%;
    height: auto;
}

/* CSS for Links */
a {
color: #ff1493; /*deepPink, 54%*/
}

a:link {
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: #ff1493; /*deepPink 54% */
}

/* CSS for Navigation Bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333333/* Gray20, 20% */
   /*position: fixed;*/
  /*top: 0;*/
  /*width: 100%;*/
  /*border: 3px solid dodgerblue;*/
}

/* Style Navigation Bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: 	#f5f5f5; /* WhiteSmoke text color */
  text-align: center; /* Center the text */
  padding: 10px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
    color: #ff1493; /* deepPink text color */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #1e90ff; /* DodgerBlue, 56% */
  color: #ff1493; /* deepPink text color */
}


/* CSS for Footer Elements */
#medium {
  font-size: 16px;
  text-align: center;
  color: #1e90ff; /* DodgerBlue, 56% */
}

.footer {
  text-align: center; /* Center text*/
  background-color: #333333; /* Gray20, 20% */
  color: #1e90ff; /* DodgerBlue */
   left: 0;
   bottom: 0;
   width: 100%;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .bottom { 
    flex-direction: column;
    height: auto;
  }
  
  .header {
    flex-direction: column;
    height: auto;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
    height: auto;
  }
  
  .header {
    flex-direction: column;
    height: auto;
  }
}

