/*CSS Styles*/


body {
    background-color: #DAA520;
    /*GOOGLE FONT*/
    font-family: 'Shadows Into Light', cursive;
}

h2 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

div p {
  padding: 0px 25px;
  text-align: justify;
  font-size: 20px;
  color: #333;
}

#right {
    float: right;
    margin: 5px; 
    margin-left: 30px;
    }
    
#last {
    clear: left;
}

#form {
    font-family: 'Shadows Into Light', cursive;
    font-size: 29px;
    font-style: oblique; 
}

#img {
    border: 3px  solid #DAA520;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    display: block;
    font-size: 16px;
    /*DEEPPINK COLOR*/
    color: #FF1493;
}
/*CSS Classes*/

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
   /*position: fixed;*/
  /*top: 0;*/
  /*width: 100%;*/
  /*border: 3px solid dodgerblue;*/
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: 	#F5F5F5; /* WhiteSmoke text color */
  text-align: center; /* Center the text */
  padding: 5px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
    color: #FF1493; /* deeppink text color */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #708090; /* SlateGrey background color */
  color: #FF1493; /* deeppink text color */
}


.header {
   text-align: center; 
   padding: 5px;
   font-family: Arial Narrow;
}


.medium {
  text-align: center;
}
.footer {
  padding: 10px; /* Some padding */
  text-align: center; /* Center text*/
  background-color: #708090; /* SlateGrey background */
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row { 
    flex-direction: column;
    object-fit: scale-down;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

