/*CSS STYLES*/

body {
    background-color: #daa520; /*GoldenRod, 49%*/
    font-family: 'Shadows Into Light', cursive; /*GOOGLE Font*/
    box-sizing:border-box;
}

h2 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}


/* CSS Styles For 'About.html' Page */
div p {
  padding: 0px 25px;
  text-align: justify;
  font-size: 20px;
  color: #33333;
}

right {
    float: right;
    margin: 5px; 
    margin-left: 30px;
    }
    
last {
    clear: left;
}


/* CSS Styles For 'Contact.html' Page */
form {
    font-family: 'Raleway' sans-serif;
    font-size: 13px;
    font-style: oblique; 
    margin: 0 auto; 
    width:350px;
}

img {
    /*Border, same as background: GOLDENROD, 49%*/
    border: 3px  solid #daa520;
    box-sizing: border-box;
    margin: 0 auto; 
}


a:link {
    text-decoration: none;
    display: block;
    font-size: 16px;
    /*DEEPPINK COLOR*/
    color: #FF1493;
}
/*CSS Classes*/

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333333; /* Dark background color */
   /*position: fixed;*/
  /*top: 0;*/
  /*width: 100%;*/
  /*border: 3px solid dodgerblue;*/
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: 	#F5F5F5; /* WhiteSmoke text color */
  text-align: center; /* Center the text */
  padding: 5px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
    color: #FF1493; /* deeppink text color */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #1E90FF; /* DodgerBlue */
  color: #FF1493; /* deeppink text color */
}


.header {
   text-align: center; 
   padding: 5px;
   font-family: Arial Narrow;
}


.medium {
  text-align: center;
  color: #1E90FF;
}

.footer {
  /*padding: 10px;*/
  text-align: center; /* Center text*/
  background-color: #333333; 
  color: #1E90FF;
   left: 0;
   bottom: 0;
   width: 100%;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row { 
    flex-direction: column;
    object-fit: scale-down;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

